<div class="breadcrumbs">
	<div class="wrap">
		<ul class="breadcrumbs-list">
			<li class="breadcrumbs-item home">
				<a href="/"  class="breadcrumbs-link">
					PoÄetna
					<span class="icon font-ico-chevron-right"><span class="sr-only">Icon right</span></span>
				</a>
			</li>
			<li class="breadcrumbs-item">
				<a href="{{pageUrl}}"  class="breadcrumbs-link">{{page}}</a>
			</li>
		</ul>
	</div>
</div>
