<div class="basic-block {{#ifEquals background "beige"}} basic-block--beige{{/ifEquals}}{{#ifEquals background "purple"}} basic-block--purple{{/ifEquals}}">
	<div class="wrap">
		<div class="basic-block__content">
			<h2 class="h2">{{{title}}}</h2>
			<p>{{text}}</p>
			<a href="javascript:;" class="btn basic-block__btn">{{btn}} <span class="icon font-ico-chevron-right"><span class="sr-only">Icon right</span></span></a>
		</div>
	</div>
</div>
