@model PerAspera.Models.Generated.BannerWithSideImage

<div class="img-text  img-text--left  img-text--beige">
	<div class="wrap">
		<div class="img-text__wrap">
			<div class="img-text__text">
				<h2 class="h2">Image text modul with left image position and beige background</h2>
				<p>Sed fringilla, ante in fringilla laoreet, dolor urna pulvinar magna, vel luctus lacus urna nec dui. Praesent eu dui at dui posuere fringilla id eu libero. Aliquam at turpis faucibus, tempor ligula lacinia, dictum erat. Phasellus et cursus lorem. Nunc iaculis ex vitae felis pulvinar ultricies. Quisque finibus dolor sed ante sollicitudin, vitae eleifend enim aliquam. Curabitur porta urna sit amet nulla accumsan ullamcorper. Vestibulum diam enim, porta vel consectetur ut, euismod non turpis.</p>
				<a href="javascript:;" class="btn">Pročitajte više <span class="icon font-ico-chevron-right"><span class="sr-only">Icon right</span></span></a>
			</div>
			<div class="img-text__img">
				<img src="assets/images/book.png" alt="Image alt text">
			</div>
		</div>
	</div>
</div>