@model PerAspera.Models.Generated.BannerWithSideImage
@{
	var backgroundColor = Model.Color == "White" ? string.Empty : "img-text--beige";
	var leftClass = Model.IsImageLeft ? "img-text--left" : string.Empty;
}
<div class="img-text @leftClass @backgroundColor">
	<div class="wrap">
		<div class="img-text__wrap">
			<div class="img-text__text">
				<h2 class="h2">@Model.Title</h2>
				<p>
					@Html.Raw(Model.Text)
				</p>
				<div>
					@if (Model.Button != null)
					{
						<a href=@Model.Button.Url class="btn">@Model.Button.Name <span class="icon font-ico-chevron-right"><span class="sr-only">Icon right</span></span></a>
					}
				</div>	
			</div>
			<div class="img-text__img">
				@if (Model.Image != null)
				{
					<img src=@Model.Image.Url() alt="Image alt text">
				}
			</div>
		</div>
	</div>
</div>