@model PerAspera.Models.Generated.ContactUsForm

<div class="form-box">
	<div class="wrap">
		<div class="form-box__wrap">
			<div class="form-box__text">
				<h2 class="h2">Kontaktirajte nas</h2>
				<p>Praesent ac eros sit amet turpis vestibulum laoreet a vel neque. Morbi volutpat eu lorem dictum elementum.</p>
			</div>
			@Html.Partial("Forms/ContactUsForm", new PerAspera.Models.ViewModels.ContactUsFormDto())
		</div>
	</div>
</div>