@model PerAspera.Models.Generated.ContactUsForm

<div class="form-box">
	<div class="wrap">
		<div class="form-box__wrap">
			<div class="form-box__text">
				<h2 class="h2">@Model.Title</h2>
				<p>@Model.Description</p>
			</div>
			@Html.Partial("Forms/ContactUsForm", new PerAspera.Models.ViewModels.ContactUsFormDto(){ThankYouMessage = Model.ThankYouMessage})
		</div>
	</div>
</div>