<div class="order-form">
	<div class="wrap">
		<div class="order-form__content">
			<h3 class="h3">{{title}}</h3>
			<p>{{text}}</p>
			<form action="" class="order-form__form">
				<div class="form-row">
					<div class="form-box__field">
						<label for="name">Ime*</label>
						<input type="text" id="name">
					</div>
					<div class="form-box__field">
						<label for="name">Prezime*</label>
						<input type="text" id="lastname">
					</div>
				</div>
				<div class="form-row">
					<div class="form-box__field">
						<label for="name">Email adresa*</label>
						<input type="email" id="email">
					</div>
					<div class="form-box__field">
						<label for="name">Adresa za slanje*</label>
						<input type="text" id="address">
					</div>
				</div>
				<div class="form-row">
					<div class="form-box__field">
						<label for="name">Broj telefona*</label>
						<input type="text" id="phone">
					</div>
					<div class="form-box__field">
						<label for="name">Porucujem:*</label>
						<div class="select-wrap">
							<select name="year" id="">
								<option value="">Odaberite predmet za poručivanje...</option>
								<option value="">Imunomania</option>
								<option value="">Fearless kapa</option>
							</select>
						</div>
					</div>
				</div>
				<span class="form-text">* Obavezna polja</span>
				<button type="submit" class="btn">Pošalji <span class="icon font-ico-chevron-right"><span class="sr-only">Icon right</span></span></button>
			</form>
		</div>
	</div>
</div>
