<div class="form-box">
	<div class="wrap">
		<div class="form-box__wrap">
			<div class="form-box__text">
				<h2 class="h2">{{title}}</h2>
				<p>{{text}}</p>
			</div>
			<div class="form-box__form">
				<div class="form-box__field">
					<label for="name">Ime</label>
					<input type="text" id="name">
				</div>
				<div class="form-box__field">
					<label for="lastName">Prezime</label>
					<input type="text" id="lastName">
				</div>
				<div class="form-box__field">
					<label for="email">Email adresa</label>
					<input type="email" id="email">
				</div>
				<div class="form-box__field">
					<label for="msg">Poruka</label>
					<textarea name="" id="msg" cols="30" rows="7"></textarea>
				</div>
				<button type="button" class="btn js-shop-modal-open">{{btn}}<span class="icon font-ico-chevron-right"><span class="sr-only">Icon right</span></span></button>
				<div class="shop-card__popup js-shop-modal-overlay">
					<div class="shop-card__popup-wrap">
						<button class="js-modal-close"><span class="icon font-ico-close-x"><span class="sr-only">Close popup</span></span></button>
						<div class="rte">
							<h3>Heading 3</h3>
							<p>Etiam euismod ultricies ultricies. Vestibulum ultrices nunc ac lectus laoreet, at congue nisi facilisis. Mauris id vehicula ipsum. Suspendisse laoreet urna vitae interdum pretium. Sed in justo a ex hendrerit cursus. Sed vel nisl augue. Praesent suscipit vehicula mollis. Duis in feugiat nisl, ac iaculis magna.</p>
							<p>Podaci za plaćanje:</p>
							<ul>
								<li>Broj tekućeg računa: 123-4567891-23</li>
								<li>Svrha plaćanja: Donacija udruženju “Kroz trnje do zvezda”</li>
								<li>Poziv na broj: 123456</li>
								<li>Model: 97</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
