<div class="form-box">
	<div class="wrap">
		<div class="form-box__wrap">
			<div class="form-box__text">
				<h2 class="h2">{{title}}</h2>
				<p>{{text}}</p>
			</div>
			<div class="form-box__form">
				<div class="form-box__field">
					<label for="name">Ime</label>
					<input type="text" id="name">
				</div>
				<div class="form-box__field">
					<label for="lastName">Prezime</label>
					<input type="text" id="lastName">
				</div>
				<div class="form-box__field">
					<label for="email">Email adresa</label>
					<input type="email" id="email">
				</div>
				<div class="form-box__field">
					<label for="msg">Poruka</label>
					<textarea name="" id="msg" cols="30" rows="7"></textarea>
				</div>
				<button type="submit" class="btn">{{btn}}<span class="icon font-ico-chevron-right"><span class="sr-only">Icon right</span></span></button>
			</div>
		</div>
	</div>
</div>
