// ---------- comment
// ------------------------------------------------------------------------------

.comment-view {
	.comment-heading {
		margin-bottom: 20px;
	}

	.comment-description {
		border-top: 2px solid $grey;
		padding-top: 20px;
	}
}
