.filters {
	padding: 60px 0;
	background: $send;
	text-align: center;
}

.filters-buttons {
	display: flex;
	justify-content: center;
	width: 100%;
	border-top: 2px solid rgba(34, 34, 34, 0.5);
	padding-top: 25px;
}

.filters-reset {
	font-size: 14px;
	line-height: 19px;
	font-weight: 700;
	letter-spacing: 0.5px;
	text-transform: uppercase;
	text-decoration: underline;
	color: $purple;
}
