// ---------- form-box
// ------------------------------------------------------------------------------

.form-box {
	width: 100%;
	background: $send;
	overflow: hidden;
}
.form-box__wrap {
	display: flex;
	position: relative;
	&.hide {
		display: none;
	}
	&::after {
		content: '';
		position: absolute;
		top: 0;
		right: -100%;
		background: $white;
		width: 100%;
		height: 100%;
	}
	@include media-breakpoint-down(sm) {
		flex-direction: column;
		&::after {
			display: none;
		}
	}
}
.form-box__text {
	flex: 1 1 30%;
	max-width: 30%;
	padding: 80px 50px 80px 0;
	@include media-breakpoint-down(md) {
		flex: 1 1 330px;
		max-width: 330px;
		padding: 50px 20px 50px 0;
	}
}
.form-box__form {
	flex: 1;
	background: $white;
	padding: 80px 0 80px 50px;
	&.hide {
		display: none;
	}
	@include media-breakpoint-down(md) {
		padding: 50px 0 50px 20px;
	}
}
.form-box__field {
	display: flex;
	flex-direction: column;
	margin-bottom: 20px;
	input {
		width: 50%;
		@include media-breakpoint-down(md) {
			width: 100%;
		}
	}
}

.order-form {
	background: $send;
	padding: 80px 0;
}
.form-row {
	width: 100%;
	.form-box__field {
		width: 50%;
		&:first-of-type {
			margin-right: 30px;
		}
		input,
		.select-wrap {
			width: 100%;
			max-width: 100%;
		}
	}
}
.form-text {
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 20px;
	display: block;
	color: $purple;
}
