// ----------  header
// ------------------------------------------------------------------------------
.header {
	padding: 10px 0;
	background: $send;
	border-top: 8px solid $purple;
	box-shadow: 0 2px 20px rgba(34, 34, 34, 0.2);
}
.header__container {
	display: flex;
	align-items: center;
}
.header__logo {
	max-width: 100px;
	width: 100%;
}
.nav {
	margin-left: auto;
}
.nav__list {
	display: flex;
	justify-content: flex-end;
}
.nav__item {
	margin-right: 24px;
	&:last-of-type {
		margin-right: 20px;
	}
}
.nav__link {
	font-size: 20px;
	line-height: 22px;
	color: $black;
	display: block;
	position: relative;
	&::after {
		content: '';
		width: 100%;
		height: 8px;
		background: $purple;
		opacity: 0;
		position: absolute;
		bottom: -5px;
		left: 0;
		transition: $transtion;
	}
	@include hover {
		&::after {
			opacity: 0.4;
		}
	}
}
.header-search__icon {
	padding-left: 20px;
	border-left: 1px solid $grey;
	.icon {
		font-size: 30px;
		color: $purple;
		&.font-ico-close-x {
			display: none;
			position: relative;
			top: 2px;
		}
	}
}
.header-search__wrap {
	display: none;
	width: 450px;
	right: 0;
	top: 100%;
	z-index: 2;
	margin-top: 36px;
	.header-search__input {
		width: 100%;
		padding-right: 54px;
	}
	.icon {
		position: absolute;
		right: 20px;
		top: 10px;
	}
}
.header-search {
	position: relative;
	&--open {
		.header-search__icon {
			.font-ico-close-x {
				display: block;
			}
			.open-search-icon {
				display: none;
			}
		}
		.header-search__wrap {
			display: block;
			position: absolute;
		}
	}
}
