// ---------- landing-banner
// ------------------------------------------------------------------------------

.landing-banner {
	width: 100%;
	height: 550px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
