// ---------- modal
// ------------------------------------------------------------------------------
.modal-overlay {
	width: 100%;
	height: 100%;
	display: none;
	align-items: center;
	justify-content: center;
	z-index: 1000;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(65, 65, 65, 0.8);

	&.modal-overlay--opened {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}

.modal {
	max-width: 874px;
	max-height: 558px;
	width: 100%;
	overflow: auto;
	position: relative;
	z-index: 2000;
	background: $white;
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
	border-radius: 5px;
	padding: 40px;
	@include media-breakpoint-down(md) {
		margin: 0 20px;
	}
	@include media-breakpoint-down(sm) {
		padding: 20px;
	}
}

.modal-close-btn {
	cursor: pointer;
	position: absolute;
	top: 10px;
	right: 10px;
	color: $purple;
}

.modal-title {
	font-size: 32px;
	line-height: 34px;
	margin-bottom: 0;
	.icon {
		color: $green;
		margin-right: 10px;
	}
	@include media-breakpoint-down(sm) {
		font-size: 30px;
		line-height: 36px;
	}
}
.modal-head {
	text-align: center;
	padding-bottom: 20px;
	border-bottom: 1px solid $grey;
	margin-bottom: 20px;
}
.modal-text {
	font-size: 18px;
	line-height: 24px;
	margin-bottom: 10px;
}
