// ---------- pagination
// ------------------------------------------------------------------------------

.pagination {
	width: 100%;
	padding: 50px 0;
	display: flex;
	align-items: center;
	justify-content: center;
	border-top: 2px solid $grey;
	@include media-breakpoint-down(sm) {
		padding: 30px 0;
	}
}

.pagination-list {
	display: flex;
	align-items: center;

	li {
		display: flex;
		margin-right: 10px;
	}
}

.pagination-button {
	padding: 10px 15px;
	border: 1px solid $grey;
	border-radius: 5px;
	color: $black;
	font-weight: 700;
	font-size: 16px;
	line-height: 17px;
	display: flex;
	align-items: center;
	justify-content: center;
	cursor: pointer;

	&:last-child {
		margin-right: 0;
	}

	&:hover,
	&.active {
		background-color: $purple;
		color: $white;
		border-color: $purple;
	}
}

.previous,
.next {
	display: flex;
	justify-content: center;
	align-items: center;
	color: $purple;
	font-weight: 700;
	font-size: 16px;
	line-height: 20px;
	pointer-events: auto;

	&:hover {
		color: $purple;
	}

	i {
		font-size: 14px;
	}

	&.disabled {
		color: $grey;
		pointer-events: none;
	}
}

.previous {
	margin-right: 30px;
	@include media-breakpoint-down(sm) {
		margin-right: 15px;
	}

	i {
		margin-right: 3px;
	}
}


.next {
	margin-left: 30px;
	@include media-breakpoint-down(sm) {
		margin-left: 15px;
	}
	i {
		margin-left: 3px;
	}
}
