.shop-cards {
	padding: 36px 0 24px;
}
.shop-cards__wrap {
	display: grid;
	grid-template-columns: repeat(3, minmax(30%, 1fr));
	@include media-breakpoint-down(md) {
		grid-template-columns: repeat(2, minmax(45%, 1fr));
	}
	@include media-breakpoint-down(sm) {
		grid-template-columns: repeat(1, minmax(100%, 1fr));
	}
}
.shop-card {
	margin-right: 30px;
	max-width: 100%;
	margin-bottom: 56px;
	&:nth-child(3n) {
		margin-right: 0;
		@include media-breakpoint-down(md) {
			margin-right: 20px;
		}
		@include media-breakpoint-down(sm) {
			margin-right: 0;
		}
	}
	@include media-breakpoint-down(md) {
		margin-right: 20px;
		&:nth-child(2n) {
			margin-right: 0;
		}
	}
	@include media-breakpoint-down(sm) {
		margin-right: 0;
	}
}
.shop-card__popup {
	display: none;
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background: rgba($black, 0.7);
	z-index: 10;
	&.open {
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
.shop-card__popup-wrap {
	padding: 40px;
	border-radius: 5px;
	background: $white;
	max-width: 874px;
	max-height: 662px;
	width: 100%;
	position: relative;
	display: flex;
	@include media-breakpoint-down(md) {
		margin: 0 20px;
	}
	@include media-breakpoint-down(sm) {
		flex-direction: column;
		padding: 40px 20px 20px;
		max-width: 100%;
		overflow-y: auto;
	}
	.rte {
		text-align: left;
	}
	.js-modal-close {
		position: absolute;
		top: 15px;
		right: 15px;
		color: $purple;
	}
}
.shop-card__slider {
	max-width: 380px;
	width: 100%;
	margin-right: 44px;
	text-align: left;
	.btn {
		margin-top: 30px;
	}
	@include media-breakpoint-down(sm) {
		max-width: 100%;
		margin-right: auto;
		.btn {
			margin-top: 22px;
		}
	}
}

.shop-card__popup-text {
	text-align: left;
	overflow: auto;
	.h3 {
		font-size: 34px;
		line-height: 40px;
		margin-bottom: 10px;
	}
	p {
		font-size: 17px;
		line-height: 25px;
		margin-bottom: 10px;
	}
	@include media-breakpoint-down(sm) {
		overflow: initial;
		height: 100%;
		margin-top: 20px;
	}
}

.shop-card__img {
	position: relative;
	border-radius: 5px;
	height: 380px;
	overflow: hidden;
	img {
		position: absolute;
		object-fit: cover;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
.shop-card__content {
	text-align: center;
	padding-top: 10px;
	display: flex;
	flex-direction: column;
	h3 {
		margin-bottom: 7px;
	}
	.btn {
		align-self: center;
	}
}
.shop-card__text {
	font-size: 16px;
	line-height: 20px;
	color: rgba($black, 0.5);
}
.shop-card__price {
	display: block;
	font-size: 18px;
	line-height: 20px;
	font-weight: 700;
	color: $black;
	margin-bottom: 13px;
}
.shop-card__more {
	font-size: 14px;
	line-height: 20px;
	text-transform: uppercase;
	color: $purple;
	text-decoration: underline;
	font-weight: bold;
	margin-bottom: 10px;
}

.shop-slide {
	border-radius: 5px;
	height: 380px;
	overflow: hidden;
	position: relative;
	img {
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit: cover;
		top: 0;
		left: 0;
	}
}
