// ----------  slider
// ------------------------------------------------------------------------------
.card-slider {
	padding: 80px 0;
	background: $send;
	text-align: center;
	overflow: hidden;
	.swiper-container {
		overflow: visible;
	}
	@include media-breakpoint-down(md) {
		padding: 50px 0;
	}
	@include media-breakpoint-down(sm) {
		.h2 {
			margin-bottom: 30px;
		}
	}
}
