@model PerAspera.Models.ViewModels.ContactUsFormDto


<div class="form-box__form">
	<form asp-action="Contact" asp-controller="ContactUsForm" asp-action="POST"
		  asp-antiforgery="true" data-ajax="true" data-ajax-method="POST"
		  data-ajax-begin="OnBegin" data-ajax-failure="OnFailure"
		  data-ajax-success="OnSuccess" data-ajax-complete="OnComplete">

		<div class="form-box__field">
			<label for="name">Ime</label>
			<input asp-for="Name">
			<span asp-validation-for="Name"></span>
		</div>
		<div class="form-box__field">
			<label for="lastName">Prezime</label>
			<input asp-for="Surname">
			<span asp-validation-for="Surname"></span>

		</div>
		<div class="form-box__field">
			<label for="email">Email adresa</label>
			<input asp-for="Email">
			<span asp-validation-for="Email"></span>

		</div>
		<div class="form-box__field">
			<label for="msg">Poruka</label>
			<textarea asp-for="Message" cols="30" rows="7"></textarea>
			<span asp-validation-for="Message"></span>

		</div>
		<button type="submit" class="btn">Pošalji<span class="icon font-ico-chevron-right"><span class="sr-only">Icon right</span></span></button>
	</form>

</div>


