@model PerAspera.Models.ViewModels.ShopOrderDto


<div class="order-form">
	<div class="wrap">
		<div class="order-form__content">
			<h3 class="h3">This is Title</h3>
			<p>Aliquam vestibulum eleifend ipsum sed finibus. Praesent mattis id tellus quis ultrices. Donec eget nulla ut nisi consectetur bibendum in eget magna. Donec consectetur accumsan nulla, quis lobortis erat. Integer sed accumsan eros. Morbi vel justo imperdiet, dapibus nisi quis, vestibulum tortor. Duis eget dui metus. Sed eget lacus consectetur, porta tellus ut, placerat urna.</p>
			<form class="order-form__form" asp-action="Order" asp-controller="ShopOrderForm" asp-action="POST"
				  asp-antiforgery="true" data-ajax="true" data-ajax-method="POST"
				  data-ajax-begin="OnBegin" data-ajax-failure="OnFailure"
				  data-ajax-success="OnSuccess" data-ajax-complete="OnComplete">
				<div class="form-row">
					<div class="form-box__field">
						<label for="name">Ime</label>
						<input asp-for="Name" id="name" type="text">
						<span asp-validation-for="Name"></span>
					</div>
					<div class="form-box__field">
						<label for="lastName">Prezime</label>
						<input asp-for="Surename" id="lastname" type="text">
						<span asp-validation-for="Surename"></span>
					</div>
				</div>
				<div class="form-row">
					<div class="form-box__field">
						<label for="email">Email</label>
						<input asp-for="Email" id="email" type="text">
						<span asp-validation-for="Email"></span>
					</div>
					<div class="form-box__field">
						<label for="address">Adresa za slanje</label>
						<input asp-for="Address" id="address" type="text">
						<span asp-validation-for="Address"></span>
					</div>
				</div>
				<div class="form-row">
					<div class="form-box__field">
						<label for="phone">Broj telefona</label>
						<input asp-for="PhoneNumber" id="phone" type="text">
						<span asp-validation-for="PhoneNumber"></span>
					</div>
					<div class="form-box__field">
						<label for="order-item">Porucujem:*</label>
						<div class="select-wrap">
							@{
								object selectListItemsObj;
								ViewData.TryGetValue("Products", out selectListItemsObj);
								var selectListItems = (List<SelectListItem>) selectListItemsObj;
							}
							<select asp-for="OrderItem" asp-items='@selectListItems' id="order-item">
							</select>
						</div>
					</div>
				</div>
				<span class="form-text">* Obavezna polja</span>
				<button type="submit" class="btn">Pošalji <span class="icon font-ico-chevron-right"><span class="sr-only">Icon right</span></span></button>
			</form>
		</div>
	</div>
</div>

