@model PerAspera.Models.ViewModels.ShopOrderDto
@using AspNetCore.ReCaptcha


<div class="order-form">
	<div class="wrap">
		<div class="order-form__content">
			<h3 class="h3">This is Title</h3>
			<p>Aliquam vestibulum eleifend ipsum sed finibus. Praesent mattis id tellus quis ultrices. Donec eget nulla ut nisi consectetur bibendum in eget magna. Donec consectetur accumsan nulla, quis lobortis erat. Integer sed accumsan eros. Morbi vel justo imperdiet, dapibus nisi quis, vestibulum tortor. Duis eget dui metus. Sed eget lacus consectetur, porta tellus ut, placerat urna.</p>
			<form class="order-form__form" asp-action="Order" asp-controller="ShopOrderForm" asp-action="POST"
				  asp-antiforgery="true" data-ajax="true" data-ajax-method="POST"
				  data-ajax-begin="OnBegin" data-ajax-failure="OnFailure"
				  data-ajax-success="OnSuccess" data-ajax-complete="OnComplete" id="shopForm">
				<div class="form-row">
					<div class="form-box__field">
						<label for="name">Ime</label>
						<input asp-for="Name" id="name" type="text">
						<span asp-validation-for="Name"></span>
					</div>
				</div>
				<div class="form-row">
					<div class="form-box__field">
						<label for="lastName">Prezime</label>
						<input asp-for="Surename" id="lastname" type="text">
						<span asp-validation-for="Surename"></span>
					</div>
				</div>
				<div class="form-row">
					<div class="form-box__field">
						<label for="email">Email</label>
						<input asp-for="Email" id="email" type="text">
						<span asp-validation-for="Email"></span>
					</div>
				</div>
				<div class="form-row">
					<div class="form-box__field">
						<label for="address">Adresa za slanje</label>
						<input asp-for="Address" id="address" type="text">
						<span asp-validation-for="Address"></span>
					</div>
				</div>
				<div class="form-row">
					<div class="form-box__field">
						<label for="phone">Broj telefona</label>
						<input asp-for="PhoneNumber" id="phone" type="text">
						<span asp-validation-for="PhoneNumber"></span>
					</div>
					</div>
				<div class="form-row">
					<div class="form-box__field">
						<label for="order-item">Poručujem:</label>
						<label id="order-message" style="font-weight:bold">Molim Vas odaberite proizvode koje želite da poručite.</label>
						<div id="ordered-items">
						</div>
					</div>
				</div>
				<div class="form-row">
					<label id="total-price-label" style="display:none; font-weight:bold">Ukupan iznos:&nbsp &nbsp</label>
					<label id="total-price-value"></label>
				</div>
				<div class="form-row">
					<div class="form-box__field">
						<label for="msg">Poruka</label>
						<textarea asp-for="Message" cols="30" rows="7"></textarea>
					</div>
				</div>
						
				<div class="form-box__field" >
					@Html.ReCaptcha(language: "sr")
				</div>
				<div id="ordered-items-inputs"></div>
				<button id="shop-form-submit-btn" type="submit" class="btn">Pošalji <span class="icon font-ico-chevron-right"><span class="sr-only">Icon right</span></span></button>
			</form>
		</div>
	</div>
</div>

