<footer class="footer">
	<div class="wrap">
		<div class="footer__content">
			<img src="assets/images/footer-logo.png" alt="alt text" class="footer-logo">
			<nav class="footer-nav">
				<ul class="footer-nav__list" role="menubar">
					<li class="footer-nav__item" role="menuitem">
						<a href="index.html" class="footer-nav__link">Početna</a>
					</li>
					<li class="footer-nav__item" role="menuitem">
						<a href="about.html" class="footer-nav__link">O nama</a>
					</li>
					<li class="footer-nav__item" role="menuitem">
						<a href="blog.html" class="footer-nav__link">Blog</a>
					</li>
					<li class="footer-nav__item" role="menuitem">
						<a href="stories.html" class="footer-nav__link">Vaše priče</a>
					</li>
					<li class="footer-nav__item" role="menuitem">
						<a href="shop.html" class="footer-nav__link">Shop</a>
					</li>
					<li class="footer-nav__item" role="menuitem">
						<a href="contact.html" class="footer-nav__link">Kontakt</a>
					</li>
				</ul>
			</nav>
			<div class="footer-network">
				<ul class="footer-network__icons">
					<li>
						<a href="https://www.instagram.com/cancer.influencer/?hl=en">
							<span class="icon font-ico-insta">
								<span class="sr-only">Instagram link</span>
							</span>
						</a>
					</li>
					<li>
						<a href="javascript:;">
							<span class="icon font-ico-facebook">
								<span class="sr-only">Facebook link</span>
							</span>
						</a>
					</li>
					<li>
						<a href="javascript:;">
							<span class="icon font-ico-youtube">
								<span class="sr-only">youtube link</span>
							</span>
						</a>
					</li>
				</ul>
			</div>
			<span class="footer-copy">Kroz trnje do zvezda © 2022.</span>
		</div>
	</div>
</footer>
