<header class="header">
	<div class="wrap">
		<div class="header__container">
			<a href="/" class="header__home">
				<img src="assets/images/logo.png" alt="" class="header__logo">
			</a>
			<nav class="nav">
				<ul class="nav__list" role="menubar">
					<li class="nav__item" role="menuitem">
						<a href="index.html" class="nav__link">Početna</a>
					</li>
					<li class="nav__item" role="menuitem">
						<a href="about.html" class="nav__link">O nama</a>
					</li>
					<li class="nav__item" role="menuitem">
						<a href="blog.html" class="nav__link">Blog</a>
					</li>
					<li class="nav__item" role="menuitem">
						<a href="stories.html" class="nav__link">Vaše priče</a>
					</li>
					<li class="nav__item" role="menuitem">
						<a href="shop.html" class="nav__link">Shop</a>
					</li>
					<li class="nav__item" role="menuitem">
						<a href="contact.html" class="nav__link">Kontakt</a>
					</li>
				</ul>
			</nav>
			<div class="header-features">
				<div class="header-search">
					<div class="header-search__icon">
						<button type="button" class="header-search__open js-search-open">
							<span class="icon font-ico-search open-search-icon"><span class="sr-only">Search icon</span></span>
							<span class="icon font-ico-close-x"><span class="sr-only">Close search icon</span></span>
						</button>
						<div class="header-search__wrap">
							<input type="text" class="header-search__input" placeholder="Pretrazi...">
							<span class="icon font-ico-search"><span class="sr-only">Search icon</span></span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</header>
