@model PerAspera.Models.ViewModels.HeaderViewModel

<header class="header">
    <div class="wrap">
        <div class="header__container">
            <a href="/" class="header__home">
                <img src="@Model.LogoUrl()" alt="" class="header__logo">
            </a>
            <nav class="nav">
                <ul class="nav__list" role="menubar">
                    @foreach (var page in Model.Pages)
                    {
                        <li class="nav__item" role="menuitem">
                            <a href="@(page.Url())" class="nav__link">@(page.Title)</a>
                        </li>
                    }
                </ul>
            </nav>
            <div class="header-features">
                <div class="header-search">
                    <div class="header-search__icon">
                        <button type="button" class="header-search__open js-search-open">
                            <span class="icon font-ico-search open-search-icon"><span class="sr-only">Search icon</span></span>
                            <span class="icon font-ico-close-x"><span class="sr-only">Close search icon</span></span>
                        </button>
                        <div class="header-search__wrap">
                            <input type="text" id="header-search-input" class="header-search__input" placeholder="Pretrazi...">
                            <button id="search-button">
                                <span class="icon font-ico-search"><span class="sr-only">Search icon</span></span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <button class="header-menu-btn js-menu">
					<span class="icon font-ico-menu-icon open"><span class="sr-only">Open navigation</span></span>
					<span class="icon font-ico-close-x close"><span class="sr-only">Close navigation</span></span>
				</button>
        </div>
    </div>

</header>

