<div class="pagination">
	<a class="previous" href="#"><i class="font-ico-chevron-left"></i>Prethodna</a>
	<ul class="pagination-list">
		<li><a class="pagination-button" href="#">1</a></li>
		<li><a class="pagination-button" href="#">2</a></li>
		<li><a class="pagination-button" href="#">3</a></li>
	</ul>
	<a class="next" href="#">Sledeća<i class="font-ico-chevron-right"></i></a>
</div>
