<div class="wrap">
	<div class="pagination">
	<button class="previous disabled" type="button"><i class="font-ico-chevron-left"></i>Prethodna</button>
	<ul class="pagination-list">
		<li><a class="pagination-button active" href="#">1</a></li>
		<li><a class="pagination-button" href="#">2</a></li>
		<li><a class="pagination-button" href="#">3</a></li>
	</ul>
	<button class="next" type="button">Sledeća<i class="font-ico-chevron-right"></i></button>
</div>
</div>
