
<div class="modals">
	<div class="modal-overlay js-modal-overlay">
		<div class="modal js-modal">
       		<div class="modal-content">
				   <div class="modal-head">
					   <h3 class="h2 modal-title"> <span class="icon font-ico-quote"><span class="sr-only">Quote icon</span></span>Nataša:</h3>
				   </div>
					<p class="modal-text">Morbi fringilla risus et felis viverra scelerisque. Cras eleifend nibh id tincidunt scelerisque. Curabitur hendrerit mi sapien, eu ornare ligula porttitor sit amet. Donec vitae mauris vitae metus viverra laoreet. Integer dapibus ipsum id sagittis luctus. Cras mattis est ac est ornare, sit amet ornare nunc malesuada. Integer augue lorem, suscipit sit amet diam in, blandit condimentum ex. Vestibulum tincidunt egestas pretium. Donec pharetra id risus vel dictum. Cras commodo gravida dolor, eu accumsan eros semper in.</p>
					<p class="modal-text">Morbi fringilla risus et felis viverra scelerisque. Cras eleifend nibh id tincidunt scelerisque. Curabitur hendrerit mi sapien, eu ornare ligula porttitor sit amet. Donec vitae mauris vitae metus viverra laoreet. Integer dapibus ipsum id sagittis luctus. Cras mattis est ac est ornare, sit amet ornare nunc malesuada. Integer augue lorem, suscipit sit amet diam in, blandit condimentum ex. Vestibulum tincidunt egestas pretium. Donec pharetra id risus vel dictum. Cras commodo gravida dolor, eu accumsan eros semper in.</p>
					<p class="modal-text">Morbi fringilla risus et felis viverra scelerisque. Cras eleifend nibh id tincidunt scelerisque. Curabitur hendrerit mi sapien, eu ornare ligula porttitor sit amet. Donec vitae mauris vitae metus viverra laoreet. Integer dapibus ipsum id sagittis luctus. Cras mattis est ac est ornare, sit amet ornare nunc malesuada. Integer augue lorem, suscipit sit amet diam in, blandit condimentum ex. Vestibulum tincidunt egestas pretium. Donec pharetra id risus vel dictum. Cras commodo gravida dolor, eu accumsan eros semper in.</p>

			</div>
	   		<a class="modal-close-btn js-modal-close"><i class="font-ico-close-x"></i></a>
		</div>
	</div>
	<div class="modal-overlay js-modal-overlay">
		<div class="modal js-modal">
       		<div class="modal-content">
				   <div class="modal-head">
					   <h3 class="h2 modal-title"><span class="icon font-ico-quote"><span class="sr-only">Quote icon</span></span> Valentina:</h3>
				   </div>
					<p class="modal-text">Morbi fringilla risus et felis viverra scelerisque. Cras eleifend nibh id tincidunt scelerisque. Curabitur hendrerit mi sapien, eu ornare ligula porttitor sit amet. Donec vitae mauris vitae metus viverra laoreet. Integer dapibus ipsum id sagittis luctus. Cras mattis est ac est ornare, sit amet ornare nunc malesuada. Integer augue lorem, suscipit sit amet diam in, blandit condimentum ex. Vestibulum tincidunt egestas pretium. Donec pharetra id risus vel dictum. Cras commodo gravida dolor, eu accumsan eros semper in.</p>
					<p class="modal-text">Morbi fringilla risus et felis viverra scelerisque. Cras eleifend nibh id tincidunt scelerisque. Curabitur hendrerit mi sapien, eu ornare ligula porttitor sit amet. Donec vitae mauris vitae metus viverra laoreet. Integer dapibus ipsum id sagittis luctus. Cras mattis est ac est ornare, sit amet ornare nunc malesuada. Integer augue lorem, suscipit sit amet diam in, blandit condimentum ex. Vestibulum tincidunt egestas pretium. Donec pharetra id risus vel dictum. Cras commodo gravida dolor, eu accumsan eros semper in.</p>
					<p class="modal-text">Morbi fringilla risus et felis viverra scelerisque. Cras eleifend nibh id tincidunt scelerisque. Curabitur hendrerit mi sapien, eu ornare ligula porttitor sit amet. Donec vitae mauris vitae metus viverra laoreet. Integer dapibus ipsum id sagittis luctus. Cras mattis est ac est ornare, sit amet ornare nunc malesuada. Integer augue lorem, suscipit sit amet diam in, blandit condimentum ex. Vestibulum tincidunt egestas pretium. Donec pharetra id risus vel dictum. Cras commodo gravida dolor, eu accumsan eros semper in.</p>

			</div>
	   		<a class="modal-close-btn js-modal-close"><i class="font-ico-close-x"></i></a>
		</div>
	</div>
		<div class="modal-overlay js-modal-overlay">
		<div class="modal js-modal">
       		<div class="modal-content">
				   <div class="modal-head">
					   <h3 class="h2 modal-title"><span class="icon font-ico-quote"><span class="sr-only">Quote icon</span></span> Golden girl:</h3>
				   </div>
					<p class="modal-text">Morbi fringilla risus et felis viverra scelerisque. Cras eleifend nibh id tincidunt scelerisque. Curabitur hendrerit mi sapien, eu ornare ligula porttitor sit amet. Donec vitae mauris vitae metus viverra laoreet. Integer dapibus ipsum id sagittis luctus. Cras mattis est ac est ornare, sit amet ornare nunc malesuada. Integer augue lorem, suscipit sit amet diam in, blandit condimentum ex. Vestibulum tincidunt egestas pretium. Donec pharetra id risus vel dictum. Cras commodo gravida dolor, eu accumsan eros semper in.</p>
					<p class="modal-text">Morbi fringilla risus et felis viverra scelerisque. Cras eleifend nibh id tincidunt scelerisque. Curabitur hendrerit mi sapien, eu ornare ligula porttitor sit amet. Donec vitae mauris vitae metus viverra laoreet. Integer dapibus ipsum id sagittis luctus. Cras mattis est ac est ornare, sit amet ornare nunc malesuada. Integer augue lorem, suscipit sit amet diam in, blandit condimentum ex. Vestibulum tincidunt egestas pretium. Donec pharetra id risus vel dictum. Cras commodo gravida dolor, eu accumsan eros semper in.</p>
					<p class="modal-text">Morbi fringilla risus et felis viverra scelerisque. Cras eleifend nibh id tincidunt scelerisque. Curabitur hendrerit mi sapien, eu ornare ligula porttitor sit amet. Donec vitae mauris vitae metus viverra laoreet. Integer dapibus ipsum id sagittis luctus. Cras mattis est ac est ornare, sit amet ornare nunc malesuada. Integer augue lorem, suscipit sit amet diam in, blandit condimentum ex. Vestibulum tincidunt egestas pretium. Donec pharetra id risus vel dictum. Cras commodo gravida dolor, eu accumsan eros semper in.</p>

			</div>
	   		<a class="modal-close-btn js-modal-close"><i class="font-ico-close-x"></i></a>
		</div>
	</div>
</div>

