<div class="modal-overlay js-modal-overlay">
	<div class="modal">
       <div class="modal-content">Something3</div>
	   <a class="modal-close-btn js-modal-close"><i class="font-ico-close-x"></i></a>
	</div>
</div>
