{{#> master this}}

{{> header data.header}}

{{> breadcrumbs data.breadcrumbs}}

{{#each data.sections}}
	{{> (lookup this 'moduleAlias') this}}
{{/each}}
<div class="blog-article__details">
	<div class="wrap">
		<h2 class="h1 blog-article__title">Nunc ullamcorper finibus tortor</h2>
		<div class="blog-article__info">
			<span class="blog-article__date">
				Datum: <span class="bold">05.08.2022.</span>
			</span>
			<span class="blog-article__author">
				Autor: <span class="bold">Nastasja Nedimović</span>
			</span>
		</div>
	</div>
</div>
<div class="wrap">
		<div class="rte">
			<h2>
				Heading 2
			</h2>
			<p class="standfirst">
				Integer vestibulum justo mauris, vitae varius odio pharetra vitae. Etiam euismod ultricies ultricies. Vestibulum ultrices nunc ac lectus laoreet, at congue nisi facilisis. Mauris id vehicula ipsum. Suspendisse laoreet urna vitae interdum pretium. Sed in justo a ex hendrerit cursus. Sed vel nisl augue. Praesent suscipit vehicula mollis.
			</p>
			<p>
				Donec bibendum magna diam, et convallis turpis aliquet id. Maecenas volutpat arcu mauris, eget vulputate sapien iaculis ac. Praesent ac eros sit amet turpis vestibulum laoreet a vel neque. Morbi volutpat eu lorem dictum elementum. Nunc metus enim, dictum ac commodo quis, congue fermentum urna. Aenean ultricies lectus ac quam imperdiet malesuada.
			</p>
			<p>
				Curabitur porta urna sit amet inline link nulla accumsan ullamcorper. Vestibulum diam enim, porta vel consectetur ut, euismod non turpis. Nam ac blandit nulla. Fusce massa dolor, gravida quis rutrum imperdiet, tincidunt at nulla. Quisque eu tellus efficitur, tristique enim ut, blandit dolor.
			</p>
			<h3>
				Heading 3
			</h3>
			<p>
				Etiam euismod ultricies ultricies. <a href="/">Vestibulum ultrices nunc</a> ac lectus laoreet, at congue nisi facilisis. Mauris id vehicula ipsum. Suspendisse laoreet urna vitae interdum pretium. Sed in justo a ex hendrerit cursus. Sed vel nisl augue. Praesent suscipit vehicula mollis. Duis in feugiat nisl, ac iaculis magna. Ut iaculis nunc eget mauris porta, ut mattis nunc porttitor. Nunc enim leo, suscipit sed porta in, pellentesque a turpis.
			</p>

			<h4>Heading 3</h4>
			<img src="assets/images/rte-img.png" alt="alt">
			<p>
				Donec bibendum magna diam, et convallis turpis aliquet id. Maecenas volutpat arcu mauris, eget vulputate sapien iaculis ac. Praesent ac eros sit amet turpis vestibulum laoreet a vel neque. Morbi volutpat eu lorem dictum elementum. Nunc metus enim, dictum ac commodo quis, congue fermentum urna. Aenean ultricies lectus ac quam imperdiet malesuada.
			</p>
			<div class="iframe-wrap">
				<iframe width="1280" height="720" src="https://www.youtube.com/embed/Bj6lDvKVyEw?list=RDo6QuzjIRgnc" title="BARBARA BOBAK - DUPLO GORA (OFFICIAL VIDEO)" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
			</div>
		</div>
	</div>
{{>card-slider data.card-slider}}
{{> footer data.footer}}

{{/master}}
