<div class="search basic-block--beige">
	<div class="wrap">
		<div class="search-wrap">
			<input type="text" class="search__input" placeholder="Pretrazi...">
			<span class="icon font-ico-search"><span class="sr-only">Search icon</span></span>
		</div>
	</div>
</div>