<div class="comments">
	<div class="wrap">
		<div class="comments-wrap">
			{{#if comments}}
				{{#each comments}}
					<div class="comment js-modal-open">
						<h3 class="h3 comment-heading"><span class="icon font-ico-quote"><span class="sr-only">Quote icon</span></span>{{this.commentedBy}}:</h3>
						<p class="comment-description">{{this.comment}}</p>
						<button class="comment-read-more">Pročitaj celu priču<i class="font-ico-chevron-right"></i></button>
					</div>
				{{/each}}
			{{/if}}
		</div>
	</div>
</div>




